<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/css/estilos.css">

</head>
<body>
    <div class="caja">
       <h1>Nuevo Horizonte</h1>
       <div class="botones-inicio">
          <a href="entrada.html"><button class="boton-enviar">Registrar Entrada</button></a>
          <a href="salida.html"><button class="boton-enviar">Registrar Salida</button></a>
          <a href="consulta.html"><button class="boton-enviar">Consultar Registros</button></a>
       </div>
    </div>
</body>
</html>
